STRINGTABLE
LANGUAGE LANG_POLISH, SUBLANG_POLISH_POLAND
{
600, "Komputer stacjonarny"

621, "Podłączony i ładuje"
622, "%0:u h %%1:.2u min do pełnego naładowania"
623, "%1:u min do pełnego naładowania"
624, "%2:u%% dostępne (podłączony, ładuje)"
625, "%2:u%% dostępne (podłączony, nie ładuje)"
626, "W pełni naładowana (100%%)"
627, "Nie wykryto baterii"
628, "Podłączony i nie ładuje"

650, "%0:u h %1:.2u min (%2:u%%) pozostało"
651, "%1:u min (%2:u%%) pozostało"
654, "%2:u%% pozostało"
655, "Nieznane pozostało"

670, "%2:u%% remaining\nConsider replacing your battery."
671, "Unknown remaining\nConsider replacing your battery."
672, "Plugged in and charging\nConsider replacing your battery."
673, "%2:u%% available (plugged in, charging)\nConsider replacing your battery."
674, "%2:u%% available (plugged in, not charging)\nConsider replacing your battery."
675, "Fully charged (100%%)\nConsider replacing your battery."

680, "Włączono oszczędzanie baterii"
}
